/*reset*/
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

/*common*/

/*header height:75px;*/ 
header {height:75px; background-color: #4887f1; width:100%; z-index: 9999; position:fixed; top:0; left:0; position:fixed; 
display:none;
}
.header_wrapper{width:1170px;margin: 0 auto;}

.logo {}
.logo a{color:white;line-height:75px;float: left;}

.menu{float:left; margin-left: 50px;}
.menu li{float:left;}
.menu a{line-height: 75px; color:white; padding: 0 15px; display: block;}

.account{float:right;}
.account a{line-height: 75px; color:white; padding: 0 15px; display: block;}


body //margin-top:75px
 {margin-top: 0px; background-color: #EEEEEE;
	}


#overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.65);
  overflow-x: hidden;
 // transition: 0.5s;
  text-align: center;
  padding-top: 24%;
	font-size: 45px;
	color: #CCCCCC;
}

.popup {
	position: fixed;
	z-index:100;
	height: 33%; //300px;
  	width: 30%;//500px;
	   content: "";
 	// position: absolute;
	  text-align: center;
	  top: 30%;
 	  left: 35%;
	border-radius: 15px;
 	 background-color: #eeeeee;

	display: none;
}

.popup_content{
	font-weight: bold;
	font-size: 35px;
	margin-top: 15%;
}

button{
	margin-top: 17%;
	display:inline-block;
	width: 100px;
	height: 50px;
	margin-right: 50px;
	margin-left: 50px;

/*	//box-shadow: 0px 10px 14px -7px #276873;
	background-color:#3ea99f;
	//-moz-border-radius:8px;
	//-webkit-border-radius:8px;
	border-radius:8px;
	cursor:pointer;
	color:#ffffff;
	//font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding: 8px 20px;
	//text-decoration:none;
*/
	  user-select: none;
	background-color:#25ba4d;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:14px 29px;
	text-decoration:none;
}

#tutorial{
	width: 65%;//1330px;
	text-align: center;
	border: 2px none;//solid;
	border-color: #7F7F7F;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 40px;
	//margin-right: 220px;
	border-radius: 30px;
	padding-bottom: 110px;
	background-color: #FAFAFA;
	display:inline-block;
}

#upper_page{
	background-color: white;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 60px;
	margin-right: 60px;
	padding-top: 120px;
	padding-bottom: 100px;
}

.tutorial_logo{
	font-weight: bold;
	font-size: 75px;
}

.tutorial_title{
	font-weight: bold;
	font-size: 39px;
	padding-top: 110px;
	padding-bottom: 75px;
}

.tutorial_description{
	font-weight: bold;
	font-size: 29px;
	padding-bottom: 40px;
}

.step{
	margin-left: 160px;
	margin-right: 160px;
	margin-bottom: 70px;
}

.step_title{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin-top:30px;
	//margin-left: 60px;
	//margin-right: 60px;
	background-color: #93d0ff;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 32px;
}

.step_description{
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	//margin-left: 60px;
	//margin-right: 60px;
	padding: 30px;
	background-color: #F0F0F0;//#C3EFEF;
}

.dummy_img{
	//border: 2px solid;
	border-radius: 25px;
	margin: 0 auto;
	width: 30%;//350px;
	//height: 70%;//500px;
	display: inline-block; 
	padding-top: 7px;
	font-weight: bold;
	font-size: 20px;	
	vertical-align: middle;
	#background-color: #ceefff;
	background-color: #F0F0F0;;
}

.arrow{
	//border: 1px solid;
	display: inline-block; 
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	vertical-align: middle;
	padding-left: 30px;
	padding-right: 40px;
}






#login_page{
	position: fixed;
	border-radius: 30px;
	background-color: #FAFAFA;
	display:inline-block;
	height: 94%;
	width: 28%;//450px;
	//padding-top:250px;
	//padding-left:40px;
	margin-top:30px;
	margin-left:40px;
	vertical-align: top;//2300px;
	//border: 1px solid;
	text-align: center;
}

table{
	height: 200px;
	margin-top: 60%;
	//border: 1px solid;
	padding: 20px;
	display: inline-block;
}

td{
	padding: 10px;
	font-size: 30px;
	font-weight: bold;
}

input{
	height: 30px;
	width: 200px;
	font-size: 30px;	
	border-radius:8px;
	padding: 8px;
}

#login_button{
/*	box-shadow: 0px 10px 14px -7px #276873;
	background-color:#3ea99f;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	//font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding: 8px 20px;
	text-decoration:none;
	//text-shadow:0px 1px 0px #3d768a;
*/
	  user-select: none;
	background-color:#25ba4d;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:14px 29px;
	text-decoration:none;
}


img {
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 5%;
	margin-bottom: 5%;
}
a{
	cursor: pointer;
}
