body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  color:#555555; 
}
.md-stepper-horizontal {
	display:table;
	width:100%;
  height: 150px;
	margin:0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
	background-color:#FFFFFF;
}
.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	padding:24px;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle:hover{
  width:34px;
	height:34px;
  cursor: pointer;
  transform: translateX(1px) translateY(-2px);
}
.md-stepper-horizontal.green .md-step.active .md-step-circle:active{
  background-color:#009E3D;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#00AE4D;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.question .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f128";
}
.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
	font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
	color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}
/*reset*/
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

/*header*/
header {height:75px; background-color: #4887f1; width:100%; z-index: 9999; position:fixed; top:0; left:0; position:fixed;}
.header_wrapper{width:1170px;margin: 0 auto;}

.logo {}
.logo a{color:white;line-height:75px;float: left;}

.menu{float:left; margin-left: 50px;}
.menu li{float:left;}
.menu a{line-height: 75px; color:white; padding: 0 15px; display: block;}

.account{float:right;}
.account a{line-height: 75px; color:white; padding: 0 15px; display: block;}

body {margin-top: 75px; width: 100%; background-color: #EEEEEE;}
.body_wrapper{width:1170px; height:100%;background-color: white;margin: 0 auto;}
.projects{padding: 50px;}
.projects a{ margin: 25px; display:inline-block;}


.left{
  /*border: 1px solid black;*/
  padding-left: 100px;
  margin: 20px;
  text-align: left;
}

.center{
  /*border: 1px solid black;*/
  text-align: center;
  margin: 20px;
}

#content{
  width: 100%;
  height: 100%;
  background-color: #e8e8e8;
}

#paper{
  width: 80%;
  height: 100%;
  display: table;
  margin: 0 auto;
  background-color: white;
	box-shadow: 0 3px 8px -6px rgba(0,0,0,.50);
}
#left{
  text-align: left;
}

#life-chart-container{
  margin: 20px;
  border: 2px solid black;
}

#life-chart{
  border: 2px solid black;
  width: 90%;
  height: 150px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.chart1{
  border: 1px solid black;
  width: 20%;
  margin-top: 20px;
  background-color: white;
  display: inline-block;
  
}
.chart2{
  border: 1px solid black;
  width: 20%;
  margin-top: 20px;
  background-color: grey;
  display: inline-block;
}
.chart3{
  border: 1px solid black;
  width: 20%;
  margin-top: 20px;
  background-color: white;
  display: inline-block;
  
}
.chart4{
  border: 1px solid black;
  width: 20%;
  margin-top: 20px;
  background-color: grey;
  display: inline-block;
}

.fas{
  margin: auto;
}

.fas.fa-thumbtack{
  font-size: 20px;
  z-index: 1;
  color: red;
  cursor: pointer;
  position: relative;
/*   border: 1px solid black; */
}

.fas.fa-thumbtack:hover{
  transform: translateY(-3px);
}

.fas.fa-thumbtack:active{
  transform: translateY(-1px);
  color: #DD0000;
}

.memosOn{
  position: relative;
/*   border: 1px solid black; */
  background-color: #FFFFA5;
  font-weight: normal;
  padding: 10px;
  color: black;
  cursor: default;
}
.memosOff{
  opacity: 0;
  position: relative;
/*   border: 1px solid black; */
  background-color: #FFFFA5;
  font-weight: normal;
  padding: 10px;
  color: black;
  cursor: default;
}
.fake{
  display: inline-block;
  width: 20%;
/*   border: 1px solid black; */
}

#confirmButton:active{
  background-color: #15aa3d;
  transform: translateY(1px);
}

#confirmButton {
	background-color:#25ba4d;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:14px 29px;
	text-decoration:none;
}

#confirmDiv{
  text-align: right;
  margin: 50px;
  padding-right: 50px;
}