body {
    background-color: #eee;
	align-items: center;
}

/*your code here*/
html {
	display: flex;
	align-items: center;
}

h2 {
	font-size: 40px;
	color: black;//#3ea99f;
	margin-left: 60px;
	margin-block-start: 1em;
	margin-block-end: 0.8em;
}

p {
	margin-block-start: 0.2em;
	margin-block-end: 0.2em;
	font-size: 1.5vw;
}

h3 {
	margin-block-start: 0.2em;
	margin-block-end: 0.2em;
	font-size: 2vw;
}

plus {
	font-size: 6vw;
}

.left{
  /*border: 1px solid black;*/
  padding-left: 100px;
  margin: 20px;
  text-align: left;
}

.contents {
	vertical-align: middle;
	display: inline-block;
	line-height: normal;
}

.container {
  position: relative;
  visibility: visible;
}

.container_inv {
  position: relative;
  visibility: hidden;
}

.text-block {
  position: absolute;
  width: 81%;
  height: 82%;
  line-height: normal;
  bottom: 6%;
  right: 5%;
  text-align: center;
  color: black;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}

#memtable {
	border-collapse: collapse;
	width: 80%;
	margin: 0 auto;
}

#memosheet {
	/*
	width: 400px;
	height: 328px;
	*/
	width: 100%;
	height: 100%;
}

#delBtn {
    font-size: 25px;
    color : #FF0000;
}

#delDiv{
  position: absolute; top: 20%; left:70%; transform: translate(25px, -50%);
}

.btn:active{
  background-color: #4887f1;
  transform: translateY(1px);
}

.btn:hover{
  transform: translateY(-1px);
}

.btn {
  background-color:#5998ff;
  -moz-border-radius:3vw;
  -webkit-border-radius:3vw;
  border-radius:3vw;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:1vw;
  padding:0.5vw 2vw;
  width:7vw;
  text-decoration:none;
  text-align: center;
}

#add {
    cursor:pointer;
}