/*reset*/
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

/*header*/
header {height:75px; background-color: #006F84; width:100%; z-index: 9999; position:fixed; top:0; left:0; position:fixed;}
.header_wrapper{width:1170px;margin: 0 auto;}

.logo {}
.logo a{color:white;line-height:75px;float: left;}

.menu{float:left; margin-left: 50px;}
.menu li{float:left;}
.menu a{line-height: 75px; color:white; padding: 0 15px; display: block;}

.account{float:right;}
.account a{
	 pointer-events: none;
  	cursor: default;
	line-height: 75px; color:white; padding: 0 15px; display: block;}



center{
	padding-top: 16%;
}

table{
	border: 1px solid;
	padding: 20px;
}

td{
	padding: 10px;
	font-size: 30px;
	font-weight: bold;
}

input{
	height: 30px;
	width: 200px;
	font-size: 30px;
}

#login_button{
	box-shadow: 0px 10px 14px -7px #276873;
	background-color:#3ea99f;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	//font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding: 8px 20px;
	text-decoration:none;
	//text-shadow:0px 1px 0px #3d768a;
	

}