/*reset*/
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

/*common*/
/*header*/
header {height:75px; background-color:  #4887f1; width:100%; z-index: 9999; position:fixed; top:0; left:0; position:fixed;}
.header_wrapper{width:1170px;margin: 0 auto;}

.logo {}
.logo a{color:white;line-height:75px;float: left;}

.menu{float:left; margin-left: 50px;}
.menu li{float:left;}
.menu a{line-height: 75px; color:white; padding: 0 15px; display: block;}

.account{float:right;}
.account a{line-height: 75px; color:white; padding: 0 15px; display: block;}

body {margin-top: 75px; width: 100%; background-color: #EEEEEE;}
.body_wrapper{width:1170px; height:100%;background-color: white;margin: 0 auto;}
.projects{padding: 50px;}
.comment {
  padding-left: 10px;
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  color: black;
}
.text-block {
  position: absolute;
  width: 340px;
  height: 268px;
  line-height: normal;
  bottom: 26px;
  right: 20px;
  text-align: center;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}
.project_wrapper{ margin: 25px; display:inline-block;position: relative;}
.project_wrapper:hover{ transform: translateY(-1px);margin: 25px; display:inline-block;position: relative;}
.project_image{}
.project_text{padding: 5px 10px;  background-color: yellow; text-align: center; width:180px;}
.add_project{position: absolute;top: 60%;left: 50%;transform: translate( -50%, -50% );}

#Button:active{
  background-color: #4887f1;
  transform: translateY(1px);
}
#Button:hover{
  transform: translateY(-1px);
}

#Button {
  background-color:#5998ff;
  -moz-border-radius:17px;
  -webkit-border-radius:17px;
  border-radius:17px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  padding:8px 20px;
  width:110px;
  text-decoration:none;
  text-align: center;
}

#EditDiv{
  position: absolute;top: 65%;left: 0%;transform: translate( 25px, -50% );
 }
#WriteDiv{
  position: absolute;top: 85%;left: 0%;transform: translate( 25px, -50% );
 }

#TitleDate{
  width: 80%;
  position: absolute;top: 50%;left: 0%;transform: translate( 10%, -50% );
}
#TitleDate h1{
  overflow: hidden;
  text-overflow: ellipsis;
}
#TitleDateh{
  width: 80%;
  position: absolute;top: 25%;left: 0%;transform: translate( 25px, -50% );
}
#TitleDateh h1{
  word-break: break-all;
}

#DeleteButton:hover{
  font-size: 30px;
  color : #FF0000;
}
#DeleteButton{
    font-size: 25px;
    color : #FF0000;
}
#DeleteDiv{
  position: absolute;top: 10%;left: 70%;transform: translate( 25px, -50% );  
  cursor:pointer;
}

#Project0{
  cursor:pointer;  
}

#ProjectNameDiv{
  position: absolute;top: 85%;left: 50%;transform: translate( -50%, -50% );  
}
#ProjectName{
  width: 150%;
  height: 30px;
  margin-left: -25%;
}