/*reset*/
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

/*header*/
header {height:75px; background-color: #006F84; width:100%; z-index: 9999; position:fixed; top:0; left:0; position:fixed;}
.header_wrapper{width:1170px;margin: 0 auto;}

.logo {}
.logo a{color:white;line-height:75px;float: left;}

.menu{float:left; margin-left: 50px;}
.menu li{float:left;}
.menu a{line-height: 75px; color:white; padding: 0 15px; display: block;}

.account{float:right;}
.account a{line-height: 75px; color:white; padding: 0 15px; display: block;}

body {
	padding-left:20%;
	padding-right:20%;
//	padding-top:5%;
	background-color: #f8f8f8;
}

.front_page{
	padding-left:70px;
	padding-top:100px;
	padding-bottom:64px;
	background-color: white;
}

.stage_title{
	padding-bottom:2%;
	font-size: 40px;
	color: black;//#359087;
	font-weight: bold;
}

.stage_description{
	padding-left:2%;
	font-size: 25px;
	color: black;//#3ea99f;
	font-weight: bold;
}

.stage_subtitle{
	padding-left:2%;
	padding-top:2%;
	padding-bottom:1%;
	font-size: 30px;
	color: black;//#3ea99f;
	font-weight: bold;
}

textarea{
	position: relative;
	left: 2%;
	padding-top:1%;
	padding-left:1.5%;
	border: 2px solid #748695;
	border-radius:8px;
	height:80px;
	width:88%;
	font-size:16pt;
	 resize: none;
	background-color: #f8f8f8;
	// resize: vertical;
}
textarea:focus{
        outline: none;
}
textarea::-webkit-scrollbar {
	width: 12px;
	border-radius:8px;
	background-color: #F5F5F5; 
}
textarea::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #3ea99f; 
}

#Title{
	height:35px;
}
#Date{
	height:35px;
}

#star{
	padding-left:2%;
	padding-top:1%;
	padding-bottom:2%;
}

.star_rating { 
	width:123px; 
} 

.star_rating,.star_rating span { 
	display:inline-block; 
	height:39px; 
	overflow:hidden; 
	background:url(https://mblogthumb-phinf.pstatic.net/20160204_110/inyoung313_1454565091623XyBJm_PNG/star.png?type=w2) no-repeat; 
} 

.star_rating span{ 
	background-position:left bottom; 
	line-height:0; 
	vertical-align:top; 
} 

.confirm_button {
	//-moz-box-shadow: 0px 10px 14px -7px #276873;
	//-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	//filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ea99f', endColorstr='#408c99',GradientType=0);
	background-color:#3ea99f;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	//font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:12px 30px;
	text-decoration:none;
	//text-shadow:0px 1px 0px #3d768a;
	
	//position: relative;
	margin-left: 74%;
	//left: 820px;
}
