
body {
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	color:#333333; 
}
.md-stepper-horizontal {
	display:table;
	width:100%;
	height: 150px;
	margin:0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color:#FFFFFF;
}
.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	padding:24px;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle:hover{
	width:34px;
	height:34px;
	cursor: pointer;
	transform: translateX(1px) translateY(-2px);
}
.md-stepper-horizontal.green .md-step.active .md-step-circle:active{
	background-color:#009E3D;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#00AE4D;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.draft .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f128";
}
.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
	font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
	color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}


/*reset*/
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

/*header*/
/* #75a2e8 */
header {height:75px; background-color: #4887f1; width:100%; z-index: 9999; position:fixed; top:0; left:0; position:fixed;}
.header_wrapper{width:1170px;margin: 0 auto;}

.logo {}
.logo a{color:white;line-height:75px;float: left;}

.menu{float:left; margin-left: 50px;}
.menu li{float:left;}
.menu a{line-height: 75px; color:white; padding: 0 15px; display: block;}
.menu a:hover{ background-color: #3776E0;}

.account{float:right;}
.account a{line-height: 75px; color:white; padding: 0 15px; display: block;}

body {margin-top: 75px; width: 100%; background-color: #EEEEEE;}
.body_wrapper{width:1170px; height:100%;background-color: white;margin: 0 auto;}
.projects{padding: 50px;}
.projects a{ margin: 25px; display:inline-block;}

.left{
	/*border: 1px solid black;*/
	margin: 20px;
	text-align: left;
}
.title{
	/*border: 1px solid black;*/
	padding-left: 100px;
	margin: 20px;
	text-align: left;
}
.question{
	/*border: 1px solid black;*/
	padding-left: 100px;
	margin: 20px;
	text-align: left;
}

.question h2{
  font-family: 'Merriweather', serif;
}

.center{
	/*border: 1px solid black;*/
	text-align: center;
	margin: 20px;
}
.bsfcBox{
	width: 80%;
	padding: 9px 15px;
	box-sizing: border-box;
	border: 2px solid #748695;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-family: 'Merriweather', serif;
	font-size: 25px;
	letter-spacing: normal;
	line-spacing: 10px;
	line-height: 130%;
	resize: none;
	outline: none;
	display: inline-block;
}
.draftBox{
	width: 80%;
	height: 456px;
	padding: 9px 15px;
	box-sizing: border-box;
	border: 2px solid #748695;
	border-radius: 4px;
	background-color: #ffffff;
	font-family: 'Merriweather', serif;
	font-size: 25px;
	letter-spacing: normal;
	line-spacing: 10px;
	line-height: 130%;
	resize: none;
	outline: none;
	display: inline-block;
}
#container{
	text-align: center;
}
.draft-container{
	margin: 20px;
	margin-top: 10px;
}
#content{
	width: 100%;
	height: 100%;
}

#paper{
	width: 80%;
	height: 100%;
	display: table;
	margin: 0 auto;
	background-color: white;

}

.addButton {
	background-color:transparent;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:3px solid;
	display:inline-block;
	cursor:pointer;
	color:#748695;
	font-family:Verdana;
	font-size:28px;
	padding:16px 20px;
	text-decoration:none;
}

.addButton:active{
	transform: translateY(1px);
	color:#546675;
}


#downBox {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	margin: 50px;
}
#confirmButton:active{
	background-color: #15aa3d;
	transform: translateY(1px);
}

#confirmButton {
	background-color:#25ba4d;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:27px;
	padding:14px 29px;
	text-decoration:none;
}

#confirmDiv{
	text-align: center;
	margin: 0 auto;
}

#prevButton:active{
	background-color: #15aa3d;
	transform: translateY(1px);
}

#prevButton {
	background-color:#25ba4d;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:27px;
	padding:14px 29px;
	text-decoration:none;
}

#prevDiv{
	text-align: left;
}

#nextButton:active{
	background-color: #15aa3d;
	transform: translateY(1px);
}

#nextButton {
	background-color:#25ba4d;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:27px;
	padding:14px 29px;
	text-decoration:none;
}

#nextDiv{
	text-align: right;
}

#chanButton:active{
	background-color: #35ca5d;
	transform: translateY(1px);
}

#chanButton {
	font-weight: bold;
	background-color:#45da6d;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:8px 19px;
	text-decoration:none;
}

#currentstateDiv{
	height:40px;
}
#currentstate{
	padding-left : 12%;
	padding-right: 20px;
	margin-bottom: 20px;
		text-align: left;
	float:left;
}

#chanDiv{
	text-align: left;
	float:left;
}

#aboutdraft{
	text-align: left;
	padding-left : 12%;

}